
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.headings
{
    background-color: purple;
    text-align: center;
    color: white;
    padding: 2rem;
}
.button-name
{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(174, 214, 155);
    color: rgb(12, 12, 12);
}
.section-color
{
    background-color: blue;
}